        <!-- footer -->
        <!-- -->
		<ul id="menu-primary-menu" class="menu">
			<li>An app by <a href="//x3lgaming.com/" target="_blank">
                X<span style="color:#F00">3</span>L Gaming
            </a> &nbsp; </li>
            <li><a href="//twitter.com/X3LGaming/" target="_blank">Twitter</a> &nbsp; </li>
            <li><a href="//facebook.com/X3LGaming" target="_blank">Facebook</a> &nbsp; </li>
            <li><a href="//reddit.com/r/X3LGaming/" target="_blank">Reddit</a> &nbsp; </li>
            <li><a href="//amzn.to/2JPASr5" target="_blank">Merch</a> &nbsp; </li>
            <li><a href="//twitch.tv/roaet" target="_blank">Developed by roaet</a> </li>
		</ul>
        <!-- -->
